{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}
Auth
{% endblock %}


{% block links %}
<link rel="stylesheet" href="{% static 'css/authsystem.css' %}"/>
{% endblock %}


{% block content %}
<div class="forms">
	<div class="container">
		<div class="row">
			<div class="content">
				<div class="col-md-7">
					<p class="p-big">Lorem ipsum dolor sit amet.</p>
					<p class="p-mid">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae fuga corrupti, possimus necessitatibus laboriosam vitae esse cupiditate modi maiores, tenetur optio adipisci nihil eum eaque amet consequuntur veritatis quasi? Sapiente!</p>
				</div>

				<div class="col-md-5">
					<div id="logindiv">
						<form class="auth-form" method="post" action="{% url 'login' %}">
							{% csrf_token %}
							<h3>Please, sign in</h3>
							<input name="email" type="email" class="finput" placeholder="Your email" required />
							<input name="psw" type="password" class="linput" placeholder="Enter password" required/>

							<p class="message"></p>
							<button type="submit">Sign in</button>
						</form>

						<p class="have-account">
							You have no account?
							<a href="#">Register</a>
						</p>
					</div>

					<div id="registerdiv" class="hidden">
						<form class="auth-form" method="post" action="{% url 'register' %}">
							{% csrf_token %}
							<h3>Please, register</h3>
							<input name="email" type="email" class="finput" placeholder="Your email" required/>
							<input name="name" type="text" placeholder="Your name" required/>
							<input name="psw" type="password" placeholder="Enter password" required/>
							<input name="cpsw" type="password" class="linput" placeholder="Confirm password" required/>

							<p class="message"></p>
							<button type="submit">Register</button>
						</form>

						<p class="have-account">
							You have an account?
							<a href="#">Sign in</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/ajax-auth.js' %}"></script>
{% endblock %}