/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {
	ul.additional-links {
		display: none;
		background-color: #0149FF;
		position: absolute;
		width: 100%;
		text-align: center;
		margin-top: 14px;
		margin-bottom: 0;
	}

	ul.additional-links li {
		padding: 10px 15px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.login-form input {
		width: 90% !important;S
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 321px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 481px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 577px) {
	button.button-adlinks {
		display: none !important;
	}

	ul.additional-links {
		display: block !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 993px) {
	
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px) {

}